<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Maintenance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
    <a href="/index">
	<img th:src="@{/images/AirBusinessLogo.jpg}" height="64" width="64"/>
	</a>
        <div class="container my-5">
            <h2 class="mb-5">New Maintenance Issue</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/maintenance/add}" th:object="${maintenanceIssue}" method="post">
                        <div class="row">
							<div class="form-group col-md-6">
                                <label for="entered" class="col-form-label">Entered Date</label>
                                <input type="date" th:field="*{entered}" class="form-control" id="entered" placeholder="MM/DD/YYYY">
                                <span th:if="${#fields.hasErrors('entered')}" th:errors="*{entered}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fixed" class="col-form-label">Fixed Date</label>
                                <input type="date" th:field="*{fixed}" class="form-control" id="fixed" placeholder="MM/DD/YYYY">
                                <span th:if="${#fields.hasErrors('fixed')}" th:errors="*{fixed}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="details" class="col-form-label">Details</label>
                                <input type="text" th:field="*{details}" class="form-control" id="details" placeholder="Details">
                                <span th:if="${#fields.hasErrors('details')}" th:errors="*{details}" class="text-danger"></span>
                            </div>
							<div class="form-group col-md-6">
                                <label for="subSystem" class="col-form-label">SubSystem</label>
								<select name = "subSystem">
									<option th:each="subSystemOpt : ${T(com.airbusiness.airbusinessmvc.entities.MaintenanceIssue.SubSystem).values()}"
										th:value="${subSystemOpt}" th:text="${subSystemOpt.displayValue}">
									</option>
								</select>
                                <span th:if="${#fields.hasErrors('subSystem')}" th:errors="*{subSystem}" class="text-danger"></span>
                            </div>
							<div class="form-group col-md-6">
                                <label for="level" class="col-form-label">Level</label>
								<select name = "level">
									<option th:each="levelOpt : ${T(com.airbusiness.airbusinessmvc.entities.MaintenanceIssue.Level).values()}"
										th:value="${levelOpt}" th:text="${levelOpt.displayValue}">
									</option>
								</select>
                                <span th:if="${#fields.hasErrors('level')}" th:errors="*{level}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Add Issue">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>