<!DOCTYPE HTML>
<html>
<head>
    <title>Air Business</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
    <a href="/index">
    <img th:src="@{/images/AirBusinessLogo.jpg}" height="64" width="64"/>
    </a>
    <p>Welcome to Air Business</p>
    <p>Choose from the following</p>
	<p><a href="/reservations">Reservations</a></p>
	<p><a href="/clients">Clients</a></p>
	<p><a href="/maintenance">Pilots Submit Maintenance Request</a></p>
	<p><a href="/maintenance">Mechanics Update Maintenance Request</a></p>
</body>
</html>
