<!DOCTYPE HTML>
<html>
<head>
    <title>Air Business</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <a href="/index">
    <img th:src="@{/images/AirBusinessLogo.jpg}" height="64" width="64"/>
    </a>
    <p>Welcome to Air Business</p>
    <p>Choose from the following</p>
	<p><a href="/reservations">Reservations</a></p>
	<p><a href="/clients">Clients</a></p>
	<p><a href="/maintenance">Pilots Submit Maintenance Request</a></p>
	<p><a href="/maintenance">Mechanics Update Maintenance Request</a></p>
</body>
</html>
