<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Maintenance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
	<a href="/index">
	<img th:src="@{/images/AirBusinessLogo.jpg}" height="64" width="64"/>
	</a>
        <div th:switch="${maintenance}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No Maintenance Items yet!</h2>
                    <div th:case="*">
                        <h2 class="my-5">Maintenance Items</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>Entered</th>
                                    <th>Fixed</th>
                                    <th>Details</th>
                                    <th>Subsystem</th>
                                    <th>Level</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="issue : ${maintenance}">
                                    <td th:text="${issue.entered}"></td>
                                    <td th:text="${issue.fixed}"></td>
                                    <td th:text="${issue.details}"></td>
                                    <td th:text="${issue.subSystem.displayValue}"></td>
                                    <td th:text="${issue.level.displayValue}"></td>
                                    <td><a th:href="@{/maintenance/edit/{id}(id=${issue.id})}" class="btn btn-primary"><i class="fas fa-fighter-jet ml-2"></i></a></td>
                                    <td><a th:href="@{/maintenance/delete/{id}(id=${issue.id})}" class="btn btn-primary"><i class="fas fa-fighter-jet ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/new-issue" class="btn btn-primary"><i class="fas fa-fighter-jet ml-2"></i></a></p>
                	<a href="/maintenance/unfixed" class="btn btn-primary">Not Fixed</i></a></p>
               </div>
            </div>
        </div>
    </body>
</html>